extends layout

block content

	header.hero-section
		.hero-section-text
			h1 Track the Station
			h5
				| Ask @ISSOnSpot and find out 
				br
				|  the next ISS pass time for your location
	// MAIN CONTENT
	section.main
		.grid-x.grid-margin-x.grid-padding-x.row
			.small-12.medium-6.cell
				hr.dotted
				p
					| This website was built for the Full Stack JavaScript Program on Treehouse. It features "ISSOnSpot", a Twitter account that sends information about the next time the International Space Station (ISS) passes a specific location. Here is how it works:
				ol
					li Log in to Twitter and send a tweet to @ISSOnSpot.
					li
						| Be sure to add a location to your tweet (see 
						a(href='https://support.twitter.com/articles/122236') Twitter Help Center 
						| for more information) or enter a location in your user profile.
					li
						| ISSOnSpot looks up the geographic coordinates of your location on Google Maps. If coordinates are found,  it goes to 
						a(href='http://open-notify.org/Open-Notify-API/ISS-Pass-Times/') Open Notify
						|  and gets the next ISS pass time for that location.
					li
						| Your local time is computed using the Google Timezone API. ISSOnSpot then notifies you about the next ISS fly-over time.
				.centered
					a.twitter-mention-button(href='https://twitter.com/intent/tweet?screen_name=ISSOnSpot', data-size='large', data-text='Hi, when will the ISS be passing by?', data-lang='en', data-show-count='false') Tweet to @ISSOnSpot
			.small-12.medium-6.cell
				a.twitter-timeline(href='https://twitter.com/ISSOnSpot', height='100%') Tweets by TwitterDev
		.grid-x.grid-margin-x.grid-padding-x.row.row-background
			.small-12.medium-6.cell
				h2 Not on Twitter?
				hr.dotted
				p
					| You don't have a Twitter account? Enter your location into the search field and find out, when the Space Station will be overhead.
			.small-12.medium-6.cell
				form#locationSearch.input-group
					input.input-group-field(type='search', placeholder='Your location')
					.input-group-button
						input.button(type='submit', value='Search')
				#message.callout.primary
					h5 Hi, there!
					p
		.grid-x.grid-margin-x.grid-padding-x.row
			.cell
				h2 Location requests
				hr.dotted
		.grid-x.grid-margin-x.grid-padding-x.centered.row
			.small-4.cell
				#hrs.stat #{hrs}
				small In the last 24 hrs
			.small-4.cell
				#week.stat #{week}
				small In the last week
			.small-4.cell
				#month.stat #{month}
				small In the last month
	// FOOTER
	footer.footer-nav
		.grid-x.grid-margin-x.grid-padding-x
			.small-12.medium-4.cell
				hr
				span
					| This site uses data and services from 
					a(href='https://developers.google.com/maps/')
					| Google Maps and 
					a(href='http://open-notify.org/')
					| Open Notify.
					br
				span
					| &copy Header Image: 
					a(href='https://www.nasa.gov/mission_pages/station/images/station_post_construction/index.html')
					| NASA
					br
			.small-12.medium-4.cell
				hr
				a(href='https://teamtreehouse.com/techdegree/full-stack-javascript')
					| Capstone Project for the Full Stack JavaScript Techdegree Programm on Treehouse
			.small-12.medium-4.cell
				hr
				span by krnsthlr
				br
				i.fi-social-github
				a(href='https://github.com/krnsthlr')  GitHub
			
	script(src='js/vendor/jquery.js')
	script(src='js/vendor/what-input.js')
	script(src='js/vendor/foundation.js')
	script(async defer src='https://platform.twitter.com/widgets.js')
	script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key='+process.env.GOOGLE_GEOCODE +'&libraries=places&language=en')
	script(src='js/app.js')
