doctype html
html.no-js(lang='en', dir='ltr')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title ISS Twitter Bot
		link(rel='stylesheet', href='css/foundation.min.css')
		link(rel='stylesheet', href='css/foundation-icons/foundation-icons.css')
		link(rel='stylesheet', href='css/app.css')
	body
		include _nav.pug
		block content